<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<display-name>struts1</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>
				/WEB-INF/struts-config_boardTest.xml
	 		</param-value>
		</init-param>
		
		<!-- startup할때 얘를 두번째로 찾아라 -->
		<!-- 첫번째는 annotation -->
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!-- DBCP(Database Connection Pool) -->
	<resource-ref>
		<description>Oracle DataSource</description>
		<res-ref-name>jdbc/myOracle</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<!-- < servlet CharsetEncodingFilter> -->
	<filter>
		<filter-name>CharsetEncodingFilter</filter-name>
		<filter-class>com.util.filter.CharsetEncodingFilter</filter-class> 
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharsetEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 존재하지 않는 페이지, 404에러시 처리 페이지 설정 <error-page> <error-code>404</error-code> 
		<location>/404.jsp</location> </error-page> -->

	<!-- 500에러시 처리 페이지 설정 <error-page> <error-code>500</error-code> <location>/500.jsp</location> 
		</error-page> -->

</web-app>